<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="~{part/header :: head}"/>

    <title>Создание товара</title>
</head>
<body>

<th:block th:insert="~{part/navigation :: nav}"/>

<div class="container mt-5">
    <h4>Создание нового товара</h4>

    <form th:method="post"
          th:action="@{/products/new/add} "
          enctype="multipart/form-data">

        <div th:object="${product}">
        <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
            <span class="validationError"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">Name Error
            </span>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <input type="text" class="form-control" id="description"
                   th:field="*{description}">
            <span class="validationError"
                  th:if="${#fields.hasErrors('description')}"
                  th:errors="*{description}">Name Error
            </span>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Цена</label>
            <input type="number" class="form-control" id="price" min="0"
                   th:field="*{price}">
            <span class="validationError"
                  th:if="${#fields.hasErrors('price')}"
                  th:errors="*{price}">Name Error
            </span>
        </div>
        <div class="mb-3">
            <label for="count" class="form-label">Количество</label>
            <input type="number" class="form-control" id="count" min="0"
                   th:field="*{count}">
            <span class="validationError"
                  th:if="${#fields.hasErrors('count')}"
                  th:errors="*{count}">Name Error
            </span>
        </div>
        </div>

        <div class="form-group">
            <div class="custom-file">
                <label for="file" class="custom-file-label">Выберите файл</label>
                <input type="file" name="file" id="file">
            </div>
        </div>

        <button type="submit" class="btn btn-primary my-3">Создать</button>
    </form>

    <div th:if="${!#strings.isEmpty(infoMessage)}" class="alert alert-success my-3" role="alert" th:text="${infoMessage}"></div>

</div>

<th:block th:insert="~{part/footer :: footer}"/>
</body>
</html>