<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{part/header :: head}"/>

    <title>Programmer: Регистрация</title>
</head>
<body>

<th:block th:insert="~{part/navigation :: nav}"/>

<div class="container">

    <div th:if="${!#strings.isEmpty(messageAboutConfirmEmail)}" class="alert alert-info m-2" role="alert" th:text="${messageAboutConfirmEmail}"></div>
    <div th:if="${!#strings.isEmpty(messageAboutUpdate)}" class="alert alert-info m-2" role="alert" th:text="${messageAboutUpdate}"></div>

    <div class="container col-5 my-5">

        <h3 class="text-center">Профиль: <span sec:authentication="name"></span></h3>

        <form th:action="@{/clients/{id}/update-profile(id=${clientId})}"
              th:object="${request}"
              th:method="post">

            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="text" class="form-control" id="email" placeholder="email@email.com"
                       th:field="*{email}" >
                <span class="validationError"
                      th:if="${#fields.hasErrors('email')}"
                      th:errors="*{email}">Name Error
                </span>
            </div>

            <div class="mb-3">
                <label for="firstname" class="form-label">Имя</label>
                <input type="text" class="form-control" id="firstname" placeholder="Имя"
                       th:field="*{firstname}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('firstname')}"
                      th:errors="*{firstname}">Name Error
                </span>
            </div>

            <div class="mb-3">
                <label for="lastname" class="form-label">Фамилия</label>
                <input type="text" class="form-control" id="lastname" placeholder="Фамилия"
                       th:field="*{lastname}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('lastname')}"
                      th:errors="*{lastname}">Name Error
                </span>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="password"
                       th:field="*{password}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}">Name Error
                </span>
            </div>

            <div class="mb-3">
                <label for="passwordConfirm" class="form-label">Подтверждение пароля</label>
                <input type="password" class="form-control" id="passwordConfirm"
                       th:field="*{passwordConfirm}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('passwordConfirm')}"
                      th:errors="*{passwordConfirm}">Name Error
                </span>
                <span class="validationError"
                      th:if="${!#strings.isEmpty(passwordConfirm)}"
                      th:text="*{passwordConfirm}">Name Error
                </span>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
    </div>

</div>

<th:block th:insert="~{part/footer :: footer}"/>
</body>
</html>